@page "/userdetails"
@using Microsoft.AspNetCore.Http
@attribute [TabItemOption(Text = "UserDetails")]
@inject IHttpContextAccessor httpContextAccessor

<h3>UserDetails</h3>


<AuthorizeView Roles="admin">
    <p>You can only see this if you're in the role "admin".</p>
</AuthorizeView>
<AuthorizeView>
    <p>Hello @context.User.Identity?.Name</p>
</AuthorizeView>

<h4>@UserName</h4>
<hr />
<h4>@UserClaims</h4>

@code {

    public string UserClaims { get; set; }
    public string UserName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = httpContextAccessor.HttpContext.User;
        UserName = user.Identity.Name;
        foreach (var item in user.Claims)
        {
            UserClaims = UserClaims + item.Type + "*" + item.Value + "*\r\n";
        }
    }
}
