@page "/userdetails"
@attribute [TabItemOption(Text = "UserDetails")]

<h3>UserDetails</h3>

<AuthorizeView Roles="admin">
    <p>You can only see this if you're in the role "admin".</p>
</AuthorizeView>
<AuthorizeView>
    <p>Hello @context.User.Identity?.Name</p>
</AuthorizeView>

<h4>@UserName</h4>
<hr />
<h4>@UserClaims</h4>

@code {

    public string? UserClaims { get; set; }
    public string? UserName { get; set; }

    [Inject]
    [NotNull]
    private AuthenticationStateProvider? AuthenticationStateProvider { get; set; }

    /// <summary>
    ///
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserName = state.User.Identity?.Name;

        foreach (var claim in state.User.Claims)
        {
            UserClaims = UserClaims + claim.Type + "*" + claim.Value + "*\r\n";
        }
    }
}
